# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VScode config
.vscode/

# Personal files
test_aleatório.py

# Environments
venv/